{
  "openapi": "3.0.0",
  "info": {
    "title": "Assistable AI API",
    "description": "API for managing AI assistants and conversations",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.assistable.ai",
      "description": "Assistable AI API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/create-assistant": {
      "post": {
        "summary": "Create a new assistant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["location_id"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Assistant name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Assistant description"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  },
                  "ambient_noise": {
                    "type": "string",
                    "description": "Ambient noise setting"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Assistant prompt"
                  },
                  "temperature": {
                    "type": "integer",
                    "description": "Temperature setting for the model"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model to use",
                    "enum": ["gpt-4", "claude-3", "gpt-3.5-turbo"]
                  },
                  "queue": {
                    "type": "integer",
                    "description": "Queue setting"
                  },
                  "knowledge_id": {
                    "type": "string",
                    "description": "Knowledge base ID"
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice ID for the assistant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assistant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/get-assistant": {
      "get": {
        "summary": "Get assistant details",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the assistant to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant details retrieved successfully"
          }
        }
      }
    },
    "/v2/update-assistant": {
      "put": {
        "summary": "Update an existing assistant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistant_id", "location_id"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Assistant name"
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "ID of the assistant to update"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  },
                  "ambient_noise": {
                    "type": "string",
                    "description": "Ambient noise setting"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Assistant prompt"
                  },
                  "temperature": {
                    "type": "integer",
                    "description": "Temperature setting for the model"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model to use",
                    "enum": ["gpt-4", "claude-3", "gpt-3.5-turbo"]
                  },
                  "queue": {
                    "type": "integer",
                    "description": "Queue setting"
                  },
                  "knowledge_id": {
                    "type": "string",
                    "description": "Knowledge base ID"
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice ID for the assistant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/delete-assistant": {
      "delete": {
        "summary": "Delete an assistant",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the assistant to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ghl-chat-completion": {
      "post": {
        "summary": "Run a GHL-safe chat completion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversation_id", "contact_id", "last_message_id", "channel", "input", "location_id", "assistant_id"],
                "properties": {
                  "conversation_id": {
                    "type": "string",
                    "description": "ID of the conversation"
                  },
                  "contact_id": {
                    "type": "string",
                    "description": "ID of the contact"
                  },
                  "last_message_id": {
                    "type": "string",
                    "description": "ID of the last message"
                  },
                  "channel": {
                    "type": "string",
                    "description": "Communication channel"
                  },
                  "input": {
                    "type": "string",
                    "description": "User input text"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Message history"
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "ID of the assistant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "run": {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "refusal": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "annotations": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  }
                                }
                              }
                            },
                            "toolCalls": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "completionTimestamp": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "message": {
                          "type": "object",
                          "properties": {
                            "conversationId": {
                              "type": "string"
                            },
                            "messageId": {
                              "type": "string"
                            },
                            "traceId": {
                              "type": "string"
                            }
                          }
                        },
                        "knowledge_base": {
                          "type": "object",
                          "properties": {
                            "matches": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "score": {
                                    "type": "number"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "metadata": {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "namespace": {
                              "type": "string"
                            },
                            "usage": {
                              "type": "object",
                              "properties": {
                                "readUnits": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "input": {
                          "type": "string"
                        },
                        "output": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ghl/make-call": {
      "post": {
        "summary": "Make a GHL-safe AI call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistant_id", "location_id", "contact_id"],
                "properties": {
                  "number_pool_id": {
                    "type": "string",
                    "description": "ID of the number pool"
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "ID of the assistant"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  },
                  "contact_id": {
                    "type": "string",
                    "description": "ID of the contact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call successfully initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "returned_an_error": {
                      "type": "boolean"
                    },
                    "error_message": {
                      "type": "string"
                    },
                    "error_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/create-flow": {
      "post": {
        "summary": "Create a new flow",
        "description": "Creates a new flow for the specified location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["location_id"],
                "properties": {
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flow created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/create-message": {
      "post": {
        "summary": "Add a message to a conversation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["location_id", "content", "ai", "role", "conversation_id", "message_id", "channel"],
                "properties": {
                  "location_id": {
                    "type": "string",
                    "description": "Location ID"
                  },
                  "content": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "ai": {
                    "type": "boolean",
                    "description": "Whether the message is from AI"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["user", "assistant"],
                    "description": "Role of the message sender"
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "ID of the conversation"
                  },
                  "message_id": {
                    "type": "string",
                    "description": "ID of the message"
                  },
                  "channel": {
                    "type": "string",
                    "description": "Communication channel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/get-conversation": {
      "get": {
        "summary": "Get conversation details",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          },
          {
            "name": "conversation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the conversation to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of messages in the conversation"
                    },
                    "channel": {
                      "type": "string",
                      "description": "Communication channel"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}